body{
    margin: auto;
    width: 1000px;
    background-image: url(../img/img/pattern.png);
}

header{
    background-repeat: repeat;
    background-color: #4ea0ff;
    height: 200px;
    text-align: center;
}

.logo{
    width: 500px;
    margin-bottom: -140px;
    margin-left: 20px;
}

main{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.titolo{
    font-size: 70px;
    margin-bottom: 0px;
}

.autore{
    color: #555454;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

a{
    text-decoration: none; 
	font-weight: bold;
	color: #4ea0ff;
}

.data{
    color: #939292;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

img{
    border: 5px solid #4ea0ff;
    padding: 5px;
    width: 50%;
    text-align: center;
  }

p {
    text-align: left;
}

ul{
    text-align: left;
}

div{
    font-style: italic;
}

.evidenziato{
    background-color: #ffff00;
}

th{
    background-color: #1269c6;
    color: white;
}

tr{
    background-color: #b1e5f2;
}

#rigabianca{
    background-color: white;
}

footer{
    font-weight: bold;
    background-color: rgba(8, 145, 199, 0.856);
    margin: auto;
}

footer p{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

#interesse_1 {
    margin: auto;
    padding: 15px;
    background-size: cover;
    background-image: url(../img/img/monitor.jpg);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 200px;
    height: 150px;
    margin-bottom: 15px;
    display: inline-block;
  }

  #interesse_2 {
    margin: auto;
    padding: 15px;
    background-size: cover;
    background-image: url(../img/img/graph.jpg);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 200px;
    height: 150px;
    display: inline-block;
  }